.top .title{
    font-size: 20px;
    color: coral;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    font-family:me;
    margin: 50px auto 30px ;
}
.title11{
    font-size: 30px;
    color: coral;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    font-family:me;
    margin: 20px auto 25px ;
}
.title11 em{
    color: rgba(173, 173, 173, 0.884);
     font-weight: bold;
     font-size: 24px;  

}
.title em{
    color: rgba(173, 173, 173, 0.884);
     font-weight: bold;
     font-size: 16px;  

}
.list a{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.list{
    text-align: justify;
}


.method {
   padding-left: 8%;
   
}
.map3 {
    width: 300px;
    height: 300px; 
    margin: 0px auto;
    background-image: url(../img/map3.png);
    background-size: cover;
    box-shadow:3px 3px 10px rgba(110, 110, 110, 0.9);
    border-radius: 10px;
    
  }
.map3:hover{
      
    box-shadow:5px 5px 30px rgba(110, 110, 110, 0.9);
 }
/* middle___________________________________________________________ */
.middle{
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
}
.left, .right{
    float: left;
}
.left{
    width: 800px;
    height: 500px;
    padding-left: 0;
}
.right{
    width: 190px;
    margin-top: 50px;
    padding-left: 5px;
}

.key{
    font-size: 20px;
    color: coral;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    font-family:me;
    margin: 20px auto 0px ;
}
.right em, .ex em, .ext{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-align: justify;
}

.ex{
    margin: 10px auto;
}
.ext{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

#newnew{
    background-image: url(../img/newnew.jpg);
    background-size: contain;
    height: 300px;
    width: 60%;
    margin: 50px 100px 20px;
    
}

/* fan________________________________________________ */
.fan li{
    float:left;
    width: 230px;
    margin-right: 10px;
    margin-bottom: 100px;
    margin-top: 60px;
    padding: 32px;
    background-color: rgba(19, 139, 129, 0.644);
    height: 230px;
    text-align: justify;
    color: rgb(255, 255, 203);
    border-radius: 115px;
    box-shadow:3px 3px 10px rgba(110, 110, 110, 0.9)
   
}
.fan{
    margin: 0 45px;
    margin-top: 40px;
    width: 100%;
}

.fan li em{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
